<html lang="en" id="html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SVP</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Scripts -->
    <script src="./views/script.js" async></script>
    <script src="https://www.gstatic.com/charts/loader.js" async></script>
    <link rel="stylesheet" href="./views/styles.css" />
  </head>

  <body class="p-3 m-0 border-0 bd-example">
    <!-- Header -->
    <div class="text-center">
      <h1 style="color: #395144; font-weight: bold">
        SVP (Smart Vibration Platform)
      </h1>
    </div>
    <!-- Panel -->
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="controls">
            <h2 style="color: #395144; font-weight: bold">Control Panel</h2>
            <p>
              Vibrate Structure :
              <span>
                <button
                  id="motor-control"
                  type="button"
                  class="btn btn-success"
                >
                  Start
                </button></span
              >
            </p>
            <p>
              Activate SMA Wire:
              <span>
                <button id="sma-control" type="button" class="btn btn-success">
                  Activate
                </button></span
              >
            </p>
            <p>
              Activate MR Fluid :
              <span>
                <button
                  id="mrfluid-control"
                  type="button"
                  class="btn btn-success"
                >
                  Activate
                </button></span
              >
            </p>
          </div>
        </div>

        <div class="col">
          <div class="system-parameters">
            <h2 style="color: #395144; font-weight: bold">System Parameters</h2>
            <p>
              Status :
              <span id="status">Connected</span>
            </p>
            <p>
              Max. Vibration Amplitude :
              <span id="acceleration">3.5 m/s^2</span>
            </p>
            <p>SMA Wire Temerature : <span id="temperature">30.0</span>°C</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Charts -->
    <div class="text-center mt-5">
      <h3 style="color: grey">Accelerometer Data</h3>
      <div id="accelerometer_chart_div"></div>
    </div>

    <div class="text-center mt-5">
      <h3 style="color: grey">Temperature Data</h3>
      <div id="temperature_chart_div"></div>
    </div>

    <!-- End Example Code -->
  </body>
</html>
