.controls{
    background-color: #FFD4B2;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 500;
}
.system-parameters{
    background-color: #CEEDC7;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 500;

}